.play-container {
    background-color: #f9f9f9;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  
  .play-video-page {
    flex-basis: 70%;
    max-width: 70%;
  }
  
  .recommended {
    flex-basis: 28%;
  }
  